
body{
  color:#1b2936;                   <! -- Dark Grayish Blue -->
  color:  hsl(210, 10%, 33%);
  font-family: "Bai Jamjuree";
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

h1{
    font-weight: 400;
}

h2{
    font-weight: 600;
}

h3{
  padding-bottom: 10px;
}

h4{
  margin-left: 20%;
}

p{
    font-style: normal;
    margin: auto 20% auto  20%;
}

.buttons{
    margin-top: 40px;
}

.buttonIOS{
    color: #FFFFFF;
    font-size: 14px;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 11px 25px;
    margin-right: 15px;
    -moz-border-radius: 23px;
    -webkit-border-radius: 23px;
    border-radius: 23px;
    border-width: 0;
    background: #26BAA4;
    background: linear-gradient(top,  #26BAA4,  #26BAA4);
    background: -ms-linear-gradient(top,  #26BAA4,  #26BAA4);
    background: -webkit-gradient(linear, left top, left bottom, from(#26BAA4), to(#26BAA4));
    background: -moz-linear-gradient(top,  #26BAA4,  #26BAA4);
  }

.buttonIOS:hover{
    color: #14396A ;
    background: #468CCF;
    background: linear-gradient(top,  #468CCF,  #63B8EE);
    background: -ms-linear-gradient(top,  #468CCF,  #63B8EE);
    background: -webkit-gradient(linear, left top, left bottom, from(#468CCF), to(#63B8EE));
    background: -moz-linear-gradient(top,  #468CCF,  #63B8EE);
}


.buttonMAC{
  color: #FFFFFF ;
  font-size: 14px;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 11px 25px;
  -moz-border-radius: 23px;
  -webkit-border-radius: 23px;
  border-radius: 23px;
  border-width: 0;
  background: #6173FF;
  background: linear-gradient(top,  #6173FF,  6173FF);
  background: -ms-linear-gradient(top,  #6173FF,  6173FF);
  background: -webkit-gradient(linear, left top, left bottom, from(#6173FF), to(6173FF));
  background: -moz-linear-gradient(top,  #6173FF,  6173FF);
}

.buttonMAC:hover{
  color: #14396A ;
  background: #468CCF;
  background: linear-gradient(top,  #468CCF,  #63B8EE);
  background: -ms-linear-gradient(top,  #468CCF,  #63B8EE);
  background: -webkit-gradient(linear, left top, left bottom, from(#468CCF), to(#63B8EE));
  background: -moz-linear-gradient(top,  #468CCF,  #63B8EE);
}

.headpic{
  position:relative;
  height: 200px ;
  width: 100%;
}

.logo{
  position:absolute;
  left:45%;
  top:5%;
}

.storage{
    padding-top: 80px;
}

.storage-pic{
  padding-top: 50px;
}

.computer-pic{
  float:left;
  width:50%;
  padding-right: 60px;
}

.storage-sub{
  padding-top: 50px;
  text-align: left;
}

.access{
  padding-top: 80px;
  padding-bottom: 50px;
}

.devices-pic{
    width: 50%;
    padding-top: 50px;
}

.tools-icons{
      /*padding: 50px auto 50px auto;*/
      padding-top: 50px;
/*      padding-bottom: 50px;*/
}

.icon-blacklist{
    position:absolute;
    width:33%;
}

.icon-text{
    position:absolute;
    width:33%;
    left:33%;
}

.icon-preview{
    position:absolute;
    width:33%;
    left: 66%;
}


.links{
    position: relative;
    top: 350px;
}

.links a{
    color: #fff;
}
.link-images{
      width:10%;
      padding:0 4% 20px 4%;
}


.availability{
   padding-top: 330px;
   margin-top: 40px;
    padding-bottom: 100px;
    text-align: center;
}


.footer{
    background-color: #9FABB2;              <! -- Grayish Blue -->
    background-color:hsl(201, 11%, 66%);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
}

.footer1{
    position:absolute;
    width:20%;
    left:10% ;    /* 30%;*/
}

.footer2{
    position:absolute;
    width:20%;
    left:30%;      /*50%;*/
}

.footer3{
    position:absolute;
    width:20%;
    left:50%;
}

.footer4{
    position:absolute;
    width:25%;
    left:80%;
}

.footer4 a{
  color: #9FABB2;
}

.footer4 img{
    padding-right: 20px;
}

/*-- The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px
*/
